[Unit]
Description=Start Host%i Minimum
Wants=multi-user.target
After=multi-user.target
Wants=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power%i.service
After=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power%i.service
