[Unit]
Description=Start Host%i Minimum
Wants=obmc-standby.target
After=obmc-standby.target
Wants=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power%i.service
After=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power%i.service
