[Unit]
Description=Chassis%i (Power On)
Wants=obmc-standby.target
After=obmc-standby.target
Wants=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power%i.service
After=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power%i.service
Conflicts=obmc-chassis-poweroff@%i.target
RefuseManualStop=yes
OnFailure=obmc-chassis-poweroff@%i.target
OnFailureJobMode=flush
