[Unit]
Description=Start Host%i
Wants=obmc-standby.target
After=obmc-standby.target
Wants=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power%i.service
After=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power%i.service
Conflicts=obmc-host-stop@%i.target
RefuseManualStop=yes
OnFailure=obmc-host-quiesce@%i.target
OnFailureJobMode=flush