[Unit]
Description=Chassis%i (Power Off)
Wants=obmc-standby.target
After=obmc-standby.target
Wants=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power%i.service
After=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power%i.service
Conflicts=obmc-chassis-poweron@%i.target
Conflicts=obmc-chassis-reset@%i.target
RefuseManualStop=yes

